nav {
    color: rgb(23, 83, 136);
    font-size: 0.5cm;
    text-align: unset;
    ul {

      list-style: none;
      display: inline-block;
      li {
         
         list-style-type: none;
         float: left;
         margin-top: 12px;
         font-weight: bold;
         a {
  
          text-decoration: none;
          color: rgb(255, 255, 255);
          padding: 18px;
          
              }
           } 
  
      }
  
}